---
import Layout from "../layouts/Layout.astro";
// import * as data from "../../data.json";
import {data} from "../../data.js";
import ComponentArea from "../helpers/ComponentArea.astro";

const { content, title } = data[0];
---

<Layout title={title}>
	<main>
		<ComponentArea content={content} />
	</main>
</Layout>

<style>
	main {
		max-width: 1440px;
		margin: 0 auto;
	}
</style>
