---
export interface Props {
    targetUrl: string;
    text: string;
}

const {
    targetUrl,
    text
} = Astro.props as Props;
---

<a href={targetUrl}><button>{text}</button></a>

<style>

</style>
