---
import ComponentArea from "../helpers/ComponentArea.astro";
import ItemToComponent from "../helpers/ItemToComponent.astro";

export interface Props {
    title: string;
    text: string;
    children: [];
}

const {title, text, children} = Astro.props;
---

<h1>{title}</h1>
<p>{text}</p>
<div>
    <ComponentArea content={children} />
</div>

<style>

</style>
